<div class="event-summary">
	<a class="event-summary__date t-center" href="#">
		<span class="event-summary__month"><?php echo $eventDate->format("M"); ?></span>
		<span class="event-summary__day"><?php echo $eventDate->format("d");; ?></span>
	</a>
	<div class="event-summary__content">
		<h5 class="event-summary__title headline headline--tiny">
			<a href="<?php the_permalink(); ?>"><?php the_title(); ?></a>
		</h5>
		<p>
		<?php 
                                        // If post has excerpt, show it. Else, take the main content and trim it down to a few words
                                        if(has_excerpt()){
                                            // Echo get_... doesn't output text in <p> tags, so use that
                                            echo get_the_excerpt();
                                        }else{
                                            echo wp_trim_words(get_the_content(), 18);
                                        }
                                    ?>
                                    <a href="<?php the_permalink(); ?>" class="nu gray">Learn&nbsp;more</a>
                                </p>
                            </div>
                        </div>
